@import url('https://fonts.cdnfonts.com/css/space-grotesk');

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
}

.background-layout {
    width: 483px;
    height: 100%;
    background: url('./images/bg-main-desktop.png') no-repeat;
}

.cards {
    width: 541px;
    height: 527px;

    position: absolute;
    left: 164px;
    top: 187px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    margin: 0;
    padding: 0;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    color: white;

    display: flex;
}

.card > * {
    position: absolute;

    letter-spacing: 3.42222px;
    font-size: 28px;
    line-height: 36px;
}

.svg {
    position: absolute;
    width: 84px;
    height: 47px;
    top: 28px;
    left: 32px;
}

.card > span {
    top: 139px;
    left: 32px;

    font-variant-numeric: tabular-nums;
}

.card > div:last-child {
    top: 200.5px;
    left: 32px;
    width: 383.14px;

    display: flex;
    justify-content: space-between;

    font-size: 14px;
    line-height: 18px;

    letter-spacing: 2px;
    text-transform: uppercase;
}

.card > div > p {
    margin :0;
    margin: 0;
}

.front {
    background: url('./images/bg-card-front.png') no-repeat;
}

.back {
    background: url('./images/bg-card-back.png') no-repeat;
    align-self: flex-end;
}

.back > span {
    position: absolute;
    top: 393px;
    left: 452px;

    font-size: 14px;
    line-height: 18px;

    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-wrapper {
    width: 381px;
    height: 352px;

    position: absolute;
    top: 275px;
    left: 832px;

    display: flex;
}

form {
    width: 381px;
    height: 352px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form > div,
form > button {
    width: 381px;
    height: 69px;
    margin-bottom: 26px;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-field {
    width: 170px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input:focus {
    outline: none;
    position: relative;
    background-clip: padding-box;
    border-radius: 8px;
    border-image-source: linear-gradient(#6348FE, #610595);
    border-width: 1px;
    border-image-slice: 1;
}

.date-field > input {
    width: 80px;
}

.date-field > input:first-of-type {
    margin-right: 10px;
}

.cvc-field {
    width: 191px;

    justify-self: flex-end;
}

.cvc-field > input {
    width: 191px;
}

form > div span {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

form > div input {
    height: 45px;
    padding: 11px 16px;

    box-sizing: border-box;
    border: 1px solid #DFDEE0;
    border-radius: 8px;

    font-size: 18px;
    line-height: 23px;

    color: #21092F;
}

input::placeholder {
    mix-blend-mode: normal;
    opacity: 0.25;
}

form > input {
    height: 53px;
    padding: 0;
    border: none;

    font-size: 18px;
    line-height: 23px;
    color: white;

    background: #21092F;
    border-radius: 8px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.submit-circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 381px;
    height: 176px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper {
    width: 381px;
    height: 75px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper > h3 {
    margin: 0;

    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 3.42222px;
}

.text-wrapper > p {
    margin: 0;
    
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #8F8694;
}

.continue-button {
    width: 381px;
    height: 53px;

    background: #21092F;
    border-radius: 8px;

    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}

@media screen and (max-width: 375px) {
    .background-layout {
        width: 100%;
        height: 240px;
        background: url('./images/bg-main-mobile.png') no-repeat;
    }
    .cards {
        width: 343px;
        height: 251px;

        left: 16px;
        top: 32px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        width: 286px;
        height: 157px;
        background-size: contain;
        position: absolute;
        border-radius: 6px;
    }
    .back {
        z-index: 1;
        right: 0;
        top: 0;
    }
    .back > span {
        z-index: 2;
        color: white;
        left: 229px;

        width: 20px;
        height: 11px;
        position: absolute;
        top: 73px;
        right: 37px;
    
        font-size: 9px;
        line-height: 11px;
    
        text-align: right;
        letter-spacing: 1.28571px;
    }
    .front {
        z-index: 2;
        left: 0;
        bottom: 0;
    }
    .svg {
        position: absolute;
        width: 54px;
        height: 30px;
        left: 20px;
        top: 18px;
    }
    .front > span {
        position: absolute;
        height: 23px;
        left: 6.99%;
        right: 9.44%;
        top: calc(50% - 23px/2 + 18px);

        font-weight: 500;
        font-size: 18px;
        line-height: 23px;

        letter-spacing: 2.2px;
    }
    .front div:last-child {
        width: 245.11px;
        position: absolute;
        left: 6.99%;
        right: 7.31%;
        top: 79.62%;
        bottom: 12.74%;

        font-size: 9px;
        line-height: 11px;
        letter-spacing: 1.28571px;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    .form-wrapper {
        width: 327px;
        height: 328px;

        position: absolute;
        top: 331px;
        left: 24px;
    }
    form > div {
        width: 327px;
        height: 69px;
        margin-bottom: 20px;
    }
    form > div > span {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    form > div > input {
        width: 327px;
        height: 45px;
        border: 1px solid #DFDEE0;
        border-radius: 8px;
    }
    input::placeholder {
        mix-blend-mode: normal;
        opacity: 0.25;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }
    .date-field {
        margin-right: 11px;
    }
    .date-field > span {
        height: 15px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .date-field input {
        width: 72px;
    }
    .date-field > input:first-of-type {
        margin-right: 8px;
    }
    .cvc-field {
        width: 164px;
        height: 69px;
    }
    .cvc-field span {
        display: block;
        height: 15px;
        margin-bottom: 5px;
    }
    .cvc-field input {
        width: 100%;
    }
    form > input {
        width: 100%;
        height: 53px;
        border-radius: 8px;

        font-size: 18px;
        line-height: 23px;
    }
    .continue-button {
        width: 327px;
        height: 53px;
    }
}